@font-face{
    font-family:couture;
    src: url(../font/couture/couture-bld.otf);
}

body{
    background-color: #ffd700;
    font-family: couture;
    text-align: center;
    color: #222222;
}
#heading{
    position: relative;
    top: 100px;
    /* background-color: #ffd700; */
    text-align: center;
    font-size: 100px;
    color: #222222;
    padding: 0px;
}
hr{
    position: relative;
    top: 100px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 7px solid #222222;
    margin: 1em 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
 .circle{
    position: absolute;
    right: 5px;

    height: 15px;
    width: 15px;
    background-color: #222222;
    border-radius: 50%;
    display: inline-block;
 }
 
 .circle:hover{
    transform: scale(1.25);
 }

.ball{
    position: relative;
    left: 10px;
    height: 20px;
    width: 20px;
    background-color: #222222;
    border-radius: 50%;
    display: inline-block;

    animation-name: bounce;
    animation-duration: 0.9s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.6, 0.01, 0.01, .6);
    animation-iteration-count: 1;

    /* animation-name: bouncegoup;
    animation-duration: 0.3s;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(1, 1, 0, 0);
    animation-iteration-count: 1;

    animation-name: bouncegodown;
    animation-duration: 0.3s;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-iteration-count: 1; */

 }
 
 .ball:hover{
    transform: scale(1.2);

}

@keyframes bounce{
    0% {transform: translate3d(0, 0, 0); }
    25% {transform: translate3d(0, -160px, 0); }
    50% {transform: translate3d(0, -160px, 0); }
    75% {transform: translate3d(0, 0, 0); }
}

/* @keyframes bouncegoup{
    from {transform: translate3d(0, 0, 0); }
    to {transform: translate3d(0, -160px, 0); }

}

@keyframes bouncegodown{
    from {transform: translate3d(0, -160px, 0); }
    to {transform: translate3d(0, 0, 0); }
} */

#links{
    position: relative;
    top: 120px;
    font-size: 30px;
}

#navSpace{
    padding-left: 10px;
}
.colourBut{
    position: absolute;
    right: 10px;

}
.colourSwitch{
    background-color: #ffd700;
    color: #222222;
    outline: 0px;
}

.colourSwitch:hover{
    margin-right: 0;
    background-color: #ffd700;
    color: #222222;
    text-decoration: underline;
}
a{
    padding: 3px;
    padding-top: 10px;

}
.tree:focus{
    outline: 0;
}

.tree:hover{
    filter: blur(2px);
    /* background-color: #ffd700; */
    /* color-interpolation-filters: ;
    border-radius: 45%;
    padding: 0px; */
}

.tree:visited{
    outline-color: #222222;
}

a:link{
    color: #222222;
    text-align: center;
    text-decoration: none;
}
a:visited{
    color: #222222;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #ffd700;
    background-color: #222222;
}
.select::selection {
    background-color: #222222;
    color: #ffd700;
}
#inverse::selection{
    background-color: #ffd700;
    color: #222222;
}
footer{
    width:100%;
    position: absolute;
    bottom:50px;
}
#treeImg{
    max-width:10%;
    max-height:10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    position: relative;
    display: block;
    
}
#inverse{
    background-color: #ffd700;
    color: #222222;
    font-family: couture;
    margin-left: auto;
    margin-right: auto;
    font-size: 100px;
}
#treeImgInv{
    max-width:10%;
    max-height:10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    position: relative;
    display: block;
    
}

.home{
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    
}

.home:hover{
    transform: scale(1.05);
    cursor: default;
}


