@font-face{
    font-family:couture;
    src: url(../font/couture/couture-bld.otf);
}
body{
    
    font-family: couture;
    text-align: center;
    margin: 0;
}
.body{
    background-color: #222222;
    color: #ffd700
}
.heading{
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 100px;
    color: #ffd700;
    padding: 0px;
}
.heading::selection{
    background-color: #ffd700;
    color: #222222;
}
.hr{
    position: relative;
    top: 100px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 7px solid #ffd700;
    margin: 1em 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
 .circle{
    position: absolute;
    right: 5px;
    top: 5px;
    height: 15px;
    width: 15px;
    background-color: #ffd700;
    border-radius: 50%;
    display: inline-block;
    transition: scale 0.5s cubic-bezier(0, 0, 0.3, 1);
 }
 .circle:hover{
    transform: scale(1.1);
 }
.ball{
    position: relative;
    left: 10px;
    height: 20px;
    width: 20px;
    background-color: #ffd700;
    border-radius: 50%;
    display: inline-block;

    animation-name: bounce;
    animation-duration: 0.575s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.6, 0.01, 0.01, .6);
    animation-iteration-count: infinite;
 }
 .ball:hover{
    transform: scale(1.2);
}
@keyframes bounce{
    to {transform: translate3d(0, 0, 0); }
    from {transform: translate3d(0, -80px, 0); }
}
#links{
    position: relative;
    top: 120px;
    font-size: 30px;
}
#navSpace{
    padding-left: 25px;
}
.colourBut{
    position: absolute;
    right: 10px;
    top: 10px;
}
.colourSwitch{
    background-color: #222222;
    color: #ffd700;
    outline: 0px;
}
.colourSwitch:hover{
    margin-right: 0;
    background-color: #222222;
    color: #ffd700;
    text-decoration: underline;
}
.tree{
    transition: filter 0.5s cubic-bezier(0, 0, 0.3, 1);
    transition: transform 0.12s cubic-bezier(0, 0, 0.3, 1);
    will-change: filter;
    will-change: transform;
    filter: blur(1px);
}

.tree:focus{
    outline: 0;
}
.tree:hover{
    filter: blur(0px);
    transform: scale(1.05, 1.05);
}
.tree:visited{
    outline-color: #ffd700;
}

#navlink{
    padding: 10px;
    padding-top: 10px;

}
#navlink:link{
    color: #ffd700;
    text-align: center;
    text-decoration: none;
}
#navlink:visited{
    color: #ffd700;
    text-decoration: none;
}
#navlink:hover{
    text-decoration: none;
    color: #222222;
    background-color: #ffd700;
}
.select::selection {
    background-color: #ffd700;
    color: #222222;
}
#inverse::selection{
    background-color: #222222;
    color: #ffd700;
}
.footer{
    width:100%;
    position: absolute;
    bottom: 5px;
}
#treeImg{
    max-width:10%;
    max-height:10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    position: relative;
    display: block;   
}
#inverse{
    background-color: #222222;
    color: #ffd700;
    font-family: couture;
    margin-left: auto;
    margin-right: auto;
    font-size: 100px;
}
#treeImgInv{
    max-width:10%;
    max-height:10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    position: relative;
    display: block;
}
.home{
    position: relative;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    padding: 0px;
    text-decoration: none;
    color: #ffd700;
}
.home:hover{
    transform:scale(1.025);
    cursor: pointer;
}
.home::selection{
    background-color: #ffd700;
    color: #222222;
}
.inProgress::selection{
    background-color: #ffd700;
    color: #222222;
}
.inProgress{
    font-size: 175px;
    position: relative;
    top: 40vh;
}
